#filterTgl {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#filterTgl h3 {
    text-align: center;
    margin-bottom: 20px;
}

#filterTgl form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#filterTgl label {
    font-weight: bold;
}



#filterTgl button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

#filterTgl button:hover {
    background-color: #0056b3;
}

#filterTgl #cancel-button {
    background-color: #dc3545;
}

#filterTgl #cancel-button:hover {
    background-color: #c82333;
}

#masukan {
    display: grid;
    grid-template-columns: 250px 250px;
    justify-content: center; 
    row-gap: 10px;  
    align-items: center;
}

div :only-of-type label {
    grid-column: 1;
    margin-left: 75px;
    
}

div :only-of-type input {
    grid-column: 2;
    margin-right: 75px;
}

#tombolFilter {
    display: grid;
    grid-template-columns: 20% 20% 30% 15% 15%;
    grid-template-rows: auto;

}

#most-ordered-button {
    grid-column: 4;
    grid-row: 1;
    width: 150px;
}

#least-ordered-button {
    grid-column: 5;
    grid-row: 1;
    width: 150px;
}

#filter-button {
    grid-column: 1;
    grid-row: 1;
    width: 150px;
}
