#form-tambah-pelanggan, #form-edit-pelanggan {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#form-tambah-pelanggan h3, #form-edit-pelanggan h3 {
    text-align: center;
    margin-bottom: 20px;
}


#form-tambah-pelanggan form, #form-edit-pelanggan form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#form-tambah-pelanggan label, #form-edit-pelanggan label {
    font-weight: bold;
}


#form-tambah-pelanggan input, #form-tambah-pelanggan select, #form-edit-pelanggan input, #form-edit-pelanggan select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


#form-tambah-pelanggan button, #form-edit-pelanggan button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}


#form-tambah-pelanggan button:hover, #form-edit-pelanggan button:hover {
    background-color: #0056b3;
}

#form-tambah-pelanggan #cancel-pelanggan-button, #form-edit-pelanggan #cancel-edit-pelanggan-button {
    background-color: #dc3545;
}


#form-tambah-pelanggan #cancel-pelanggan-button:hover, #form-edit-pelanggan #cancel-edit-pelanggan-button:hover {
    background-color: #c82333;
}

.masukan {
    display: grid;
    grid-template-columns: 150px 350px;
    justify-content: center; 
    row-gap: 5px;  
    align-items: center;
}

div :only-of-type label {
    grid-column: 1;
    margin-left: 50px;
    
}

div :only-of-type input,  div :only-of-type select{
    grid-column: 2;
    margin-right: 50px;
}

