<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Kelurahan/Kecamatan</title>
    <link rel="stylesheet" href="/styleAdmin.css">
    <link rel="stylesheet" href="/Kelurahan.css">
</head>

<body>
    <div class="sidebar">
        <h2>Admin Dashboard</h2>
        <nav>
            <ul>
                <li><a th:href="@{/admin}">Data Pegawai</a></li>
                <li><a th:href="@{/UI-UX Admin/dataKelurahan}">Data Kelurahan/Kecamatan</a></li>
                <li><a th:href="@{/UI-UX Admin/dataPelanggan}">Data Pelanggan</a></li>
                <li><a th:href="@{/UI-UX Admin/dataMesin}">Data Mesin Cuci & Tarif</a></li>
                <li><a th:href="@{/UI-UX Admin/dataTransaksi}">Data Transaksi</a></li>
                <li id="logout"><a th:href="@{/login}">Log Out</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <header>
            <h1>Data Kelurahan/Kecamatan</h1>
        </header>

        <section id="data-lokasi">
            <h2>Data Kecamatan</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Kecamatan</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterasi data Kecamatan -->
                    <tr th:each="kecamatan : ${kecamatanList}">
                        <td th:text="${kecamatan.id}"></td>
                        <td th:text="${kecamatan.namaKecamatan}"></td>
                    </tr>
                </tbody>
            </table>

            <h2>Data Kelurahan</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Kelurahan</th>
                        <th>Kecamatan ID</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterasi data Kelurahan -->
                    <tr th:each="kelurahan : ${kelurahanList}">
                        <td th:text="${kelurahan.id}"></td>
                        <td th:text="${kelurahan.namaKelurahan}"></td>
                        <td th:text="${kelurahan.kecamatanId}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>