#form-tambah-mesin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#form-tambah-mesin h3 {
    text-align: center;
    margin-bottom: 20px;
}

#form-tambah-mesin form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#form-tambah-mesin label {
    font-weight: bold;
}

#form-tambah-mesin input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


#form-tambah-mesin button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}


#form-tambah-mesin button:hover {
    background-color: #0056b3;
}


#form-tambah-mesin #cancel-mesin-button {
    background-color: #dc3545;
}


#form-tambah-mesin #cancel-mesin-button:hover {
    background-color: #c82333;
}

.masukan {
    display: grid;
    grid-template-columns: 200px 300px;
    justify-content: center;   
    row-gap: 5px;  
    align-items: center;
}

div :only-of-type label {
    grid-column: 1;
    margin-left: 25px;
}

div :only-of-type input {
    grid-column: 2;
    margin-right: 25px;
}